.homepage{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.welcome{
    position: relative;
    bottom: 45%;
    right: 40%;
}

.boton {
    font-size: 3em;
    font-weight: 900;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    font-family: 'Arvo', serif;
}

.boton:hover{

        background-color: wheat ;
        color: #000;
        scale: 105%;
    }

.imgLanding{
    width: 100%;
}

.txt{
    color: white;
    position: relative;
    bottom: 108%;
    right: 1%;
    text-align: right;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Arvo', serif;
}